body {
    background-color: cadetblue;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}

.texteria__input {
    border: #ffffff solid 1px;
    border-radius: 15px;
    padding: 10px;
}

.texteria__output {
    border: #ffffff solid 1px;
    border-radius: 15px;
    padding: 10px;
}

.before__texteria-text {
    text-align: center;
    margin-bottom: 15px;
}

.btn {
    position: absolute;
    top: 645px;
    right: 147px;
    width: 50px;
    height: 50px;
    background-color: #123456;
    color: #ffffff;
    border-radius: 50%;
}